# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

# Gradle and Android
local.properties
.idea
.gradle
.kotlin

# macOS
.DS_Store

# Build files and directories
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json

# IDE-specific files
*.cbp
*.depend
*.layout
*.sublime-project
*.sublime-workspace
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Compiled object files
*.o
*.obj
*.lo
*.la
*.slo

# Precompiled Headers
*.gch
*.pch

# Libraries and Executables
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.app
*.bundle

# Qt specific (if you are using Qt)
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qm
*.qmlc
*.jsc

# User-specific files
*.user
